body
{
    background-color: white;
}

h1
{
    font-family: 'Galada', cursive; 
    text-align: left;
    font-size: 150px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 100px;
    text-shadow: lightgray 3px 3px;

}


.second-header
{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    position: relative;
    margin-left: 100px;
}
.second-header::after
{
    content: "";
    display: block;
    width: 3000px;
    height: 1px;
    background: #000000;
    position: relative;
    margin-top: 30px;
    margin-right: 100px;
    opacity: 60%;


}

.content 
{
display: grid;
grid-template-columns: 50% 50%; 
margin: auto;

}
h2
{
    font-family:'Galada', cursive;
    font-size: 40px;
    text-align: left;
    margin-top: 30px;
    margin-left: 120px;
    color: gray;
    text-shadow: black 4px;

}
p
{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    width: 500px;
    margin-left: 100px;
    
}

}
.top-left
{

    width: 400px;
    height:700px;
    margin-left: 100px;

    
}


.top-right
{
 display: grid;
 grid-template-columns: 50% 50%;   
    width: 600px;
    height:700px;
    margin-right: 50px;

}
.top-central > div {
    
    padding: 1em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: gray;
    font-size: 25px;
}

.img-me 
{
    width: 200px;
    height: 150px;
    background-image: url(Images/frontpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    margin-top: 230px;
    margin-left: 200px;
    opacity: 50%;
   
}

.img-me:hover  
{
opacity: 100%;
}

#click
{
    color:white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 30px; 
    text-shadow: black 3px 3px;
    display: inline-block;
    position:relative;
    margin-top: 30px;
    margin-left: 5px;
    text-align: center;
    

}

.img-bridge
{
    background-image: url(Images/bridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    width: 200px;
    height: 150px;
    opacity: 50%;
    margin-top: 40px;
    margin-left: 200px;
}

.img-bridge:hover  
{
opacity: 100%;
}

.img-jump
{
    background-image: url(Images/jump.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    width: 200px;
    height: 150px;
    opacity: 50%;
    margin-left: 200px;
    margin-top: 420px;

}

.img-jump:hover  
{
opacity: 100%;
}
.img-samoa
{
    background-image: url(Images/samoa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    width: 200px;
    height: 150px;
    opacity: 50%;
    margin-left: 200px;
    margin-top: 620px;
    
}

.img-samoa:hover  
{
opacity: 100%;
}
.img-south
{
    background-image: url(Images/South.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    width: 200px;
    height: 150px;
    opacity: 50%;
    position: absolute;
    margin-left: 200px;
    margin-top: 820px;
}

.img-south:hover  
{
opacity: 100%;
}
.img-beach
{
    background-image: url(Images/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    width: 200px;
    height: 150px;
    opacity: 50%;
    margin-left: 200px;
    margin-top: 1000px;
}

.img-beach:hover  
{
opacity: 100%;
}

.img-whangaroa
{
    background-image: url(Images/whangaroa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    width: 200px;
    height: 150px;
    opacity: 50%;
    margin-left: 200px;
    margin-top: 1180px;
}

.img-whangaroa:hover  
{
opacity: 100%;
}

.img-harbour
{
    background-image: url(Images/harbour.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    width: 200px;
    height: 150px;
    opacity: 50%;
    margin-left: 200px;
    margin-top: 1360px;
}

.img-harbour:hover  
{
opacity: 100%;
}

.img-profile
{
    background-image: url(Images/face.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30%;
    position: absolute;
    width: 600px;
    height: 350px;
    opacity: 50%;
    margin-left: 70px;
    margin-top: 100px;

}

.img-profile:hover  
{
opacity: 100%;
}



#About
{
    color:white;
    text-decoration: none;
    font-family:'Galada', cursive;
    font-size: 70px; 
    text-shadow: black 3px 3px;
    display: inline-block;
    position:relative;
    margin-top: 30px;
    margin-left: 5px;
    text-align: center;
    padding-left: 40px;
    padding-top: 40px;
    opacity: 40%;
}
#About:hover

{
    opacity: 100%;
}